[Desktop Entry]
Name=P.S. Notes.
GenericName=Plain-text notes
Comment=Notes, plain and simple.
Categories=GTK;Utility;
Exec=com.github.thejambi.psnotes
Icon=com.github.thejambi.psnotes
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=psnotes
Keywords=PS;Notes;Plain;Text;Note;Write;
